/* shared styles  */
body {
    margin: 0;
        padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* styles for header  */
header {
    background-color: rgba(229, 84, 115, 0.10);
    padding-top: 3rem;
}

.top-banner {
    display: flex;
    justify-content: space-around;
    width: 90rem;
    margin: 0 auto;
    align-items: center;

}

.banner-title {
    color: #272727;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 2rem;
    padding: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

.btn-primary {
    background-color: #E55473;
    border-radius: 0.5rem;
    width: 11rem;
    height: 4rem;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}